<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="form_block">
  	<div class="label"><%= f.label :name %></div>
  	<%= f.text_field :name %>
  </div>>

  <div class="form_block">
  	<div class="label"><%= f.label :email %></div>
  	<%= f.email_field :email %>
  </div>

  <div class="form_block">
  	<div class="label"><%= f.label :password %></div>
  	<%= f.password_field :password %>
  </div>

  <div class="form_block">
  	<div class="label"><%= f.label :password_confirmation %></div>
  	<%= f.password_field :password_confirmation %>
  </div>

  <div class="form_block">
  	<div class="label"></div>
  	<%= f.submit "Sign up" %>
  </div>
<% end %>