<%= form_for([comment, Like.new], {:url => post_like_comment_path, :method => 'put'}) do |f| %>
  <div class="form_hide">
		<div class="field">
			<%= hidden_field_tag :post_id, @post.id, :readonly => true %>
		</div>
		<div class="field">
			<%= f.label :likeable_id %><br />
			<%= f.number_field :likeable_id, {:value => comment.id, :readonly => true} %>
		</div>
		<div class="field">
			<%= f.label :user_id %><br />
			<%= f.text_field :user_id, {:value => current_user.id, :readonly => true} %>
		</div>
  </div>
  
  <% if !comment.likes.empty? && comment.likes.where(user_id:current_user.id) %>
  	<span class="icon_liked" style="color:#646869;">You Liked This Comment</span> 
  <% else %>
  	<%= f.submit 'Like This Comment', :class => 'like_button icon_like' %> 
  <% end %>

<% end %>
