<div id="header">
	<div class="container">
		<div class="logo">
			<%= link_to "R Blog", root_path %>
		</div>

		<ul id="main_nav">
			<% if user_signed_in? %>
				<li>
					<%= link_to 'My account', edit_user_registration_path %>
				</li>
				<li>
					<%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %>
				</li>
			<% else %>
				<li>
					<%= link_to 'Sign up', new_user_registration_path %>
				</li>
				<li>
					<%= link_to 'Sign in', new_user_session_path %>
				</li>
			<% end %>
		</ul>
	</div>
</div>

<div class="clear"></div>