<!DOCTYPE html>
<html>
<head>
  <title>R Blog</title>
  <link id="page_favicon" href="/favicon.ico" rel="icon" type="image/x-icon" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
  <script type="text/javascript">
	jQuery(function() {
		jQuery( document ).tooltip();
	});
  </script>
</head>
<body class="<%= controller_name %> <%= action_name %>">
	<header>
		<%= render 'layouts/navigation' %>
	</header>
	
	<div id="content" class="container">
		<%= render 'layouts/messages' %>
		<%= yield %>
	</div>
	
	<footer>
	</footer>
  </body>
</html>
